services:

  desarrolla2_async_event_dispatcher.manager.message_manager:
    class: 'Desarrolla2\AsyncEventDispatcherBundle\Manager\MessageManager'
    arguments: ['@doctrine.orm.default_entity_manager']

  desarrolla2.async_event_dispatcher:
    class: 'Desarrolla2\AsyncEventDispatcherBundle\EventDispatcher\AsyncEventDispatcher'
    arguments: ['@desarrolla2_async_event_dispatcher.manager.message_manager']

  desarrolla2_async_event_dispatcher.twig.default_extension:
    class: 'Desarrolla2\AsyncEventDispatcherBundle\Twig\DefaultExtension'
    arguments:
      - '@desarrolla2_async_event_dispatcher.manager.message_manager'
      - '@doctrine.orm.default_entity_manager'
    calls:
      - ['initRuntime', ['@twig']]
    tags:
      - { name: 'twig.extension' }